h1 {
		font-family: 'Arial';
		font-size: 14pt;

}

body{
    margin: 0px;
    padding: 0px;
    background-attachment: fixed;
    background-size: cover;

}
#img_topo {
    top: 1px;
    left: 192px;
    position: absolute;
    background: #FFF;
}
#img_topo img {
    display: inline;
    padding-right: 3px;
    padding-bottom: 2px;
}

#imagem.center {
    top: 1px;
    left: 192px;
    position: center;
    background: #FFF;
}


